/* Navigation Bar */
.mdl-layout__header-row {
  background-color: #424242; /* Same as footer */
}

.mdl-layout__drawer-button {
  background-color: #424242 !important; /* Same as footer */
}
.mdl-site-title {
  color: white;
  text-decoration: none;
}

.mdl-layout__drawer-button {
  display: none !important;
}

@media only screen and (max-width:851px) {
  .mdl-layout__drawer-button {
    display: block !important;
  }
}

/* Markdown Requirements */

.markdown-body {
  min-width: 200px;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

/* Pagination */
.paginating_area{
  margin: 0;
  overflow: hidden;
  padding: 4px 0 94px;
  text-align: center;
}

.paginating_area ul{
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}
.paginating_area ul li{
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

.paginating_area ul li a{
  background: none repeat scroll 0 0 #262626;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: lato;
  font-size: 14px;
  font-weight: 900;
  line-height: 17px;
  margin: 2px;
  min-height: 30px;
  min-width: 30px;
  padding: 6px;
  text-decoration: none;
  -moz-transition:all .4s;
  -webkit-transition:all .4s;
  -ms-transition:all .4s;
  -o-transition:all .4s;
  transition:all .4s;
}

.paginating_area ul li.disabled a{
  display: none;
}
.paginating_area ul li.active a{
  background:#b3b3b1;
}
.paginating_area ul li.active a:hover{
  background:#b3b3b1;
}
.paginating_area ul li a:hover{
  background:#37C392;
}
.paginating_area ul li a i{}

/* General Classes */
.center {
  text-align: center;
}

.horizontal-center {
  margin: 0px auto !important;
}
