/* Navigation Bar */
.mdl-layout__header-row {
  background-color: #424242; /* Same as footer */
}

.mdl-site-title {
  color: white;
  text-decoration: none;
}

.mdl-layout__drawer-button {
  display: none !important;
}

@media only screen and (max-width:851px) {
  .mdl-layout__drawer-button {
    display: block !important;
  }
}

/* Markdown Requirements */

.markdown-body {
  min-width: 200px;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

/* General Classes */
.center {
  text-align: center;
}

.horizontal-center {
  margin: 0px auto !important;
}
